<div class="history__buttons">
  <button (click)="saveHamburger()">Save Hamburger</button>
  <button (click)="openModal()">History</button>
</div>
<section class="history__modal" [ngClass]="{ 'modal-opened': modalOpened }">

  <div class="history__modal__container">
    <p class="cross" (click)="closeModal()">X</p>
    <h3 [ngClass]="{ hidden: previousHamburgers.length === 0 }">Your previously saved hamburgers:</h3>
    <p [ngClass]="{ hidden: previousHamburgers.length !== 0 }">
      There are no saved hamburgers
    </p>
    <div class="history__modal__hamburgers" [ngClass]="{ hidden: previousHamburgers.length === 0 }">
        <div
        class="hamburger"
        *ngFor="let hamburger of previousHamburgers; index as i"
        >
        <p class="hamburger__createdAt">{{ hamburger.createdAt }}</p>
        <div class="ingredients__list">
            <p
            class="hamburger__ingredient"
            *ngFor="let ingredient of hamburger.ingredients; index as i"
            >
            {{ ingredient }}
            </p>
        </div>
        <div class="history__buttons">
            <button (click)="selectCurrent(hamburger)">Select</button>
            <button (click)="deleteHamburger(i)">Delete</button>
        </div>
        </div>
    </div>
  </div>
</section>
<app-warning-modal warningText="{{ warningDisplayedText }}"></app-warning-modal>
