
.history__buttons{
    display: flex;
    align-items: center;
    gap: 1em;

    button{
        padding-inline: 0.5em;
        padding-block:0.2em;
        border-radius: 6px;
        cursor: pointer;
        font-family: 'Roboto Slab', serif;
    }

    button:hover{
        transform: scale(1.03);
    }
    button:first-child:hover{
        background-color: 	rgb(65, 65, 65);
        color: white;
    }
    button:last-child{
        background-color: 	black;
        color: white;
    }

    button:last-child:hover{
        background-color: 	rgb(176, 175, 175);
        color: black;
    }

}
.history__modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.343);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(200vw);
    transition: all 200ms linear ;  
    
}

.modal-opened{
    opacity: 1;
    transform: translateX(0vw);
}

.history__modal__container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    border-radius: 15px;
    border: 2px solid black;
    position: relative;
    .cross{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5em;
        cursor: pointer;
    }
}

.history__modal__hamburgers{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    border-radius: 15px;
    
    gap: 1em;
    justify-content: space-around;
    position: relative;
    overflow-y: auto;
    .ingredients__list{
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        p{
            text-transform: capitalize;
        }
    }

}

.hidden{
    display: none;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
    padding: 0.5em;
    border-radius: 6px;
    gap: 0.4em;
    border: solid 1px rgb(219, 197, 170);
    .history__buttons{
        align-self: flex-end;
    }

}