:host{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-image: url("/assets/314.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    justify-content: space-between;
    h3{
        background-color: beige;
        border-radius: 8px;
        padding: 1em;
    }
}

.cart-menu{
    background-color: beige;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    border-radius: 10px;
    border: solid 2px black;
    gap: 2em;
}

.cart-menu__hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@media (min-width:769px) {
    .cart-menu{
        flex-direction: row;
    }
}

